<nav>
  <ul nz-menu [nzMode]="'horizontal'">
    <!-- <ul nz-menu> -->
    <li nz-menu-item><a [routerLink]="['/guidance']">Guard</a></li>
    <li nz-submenu>
      <span title>文章管理</span>
      <ul>
        <li nz-menu-item><a [routerLink]="['/article/list']">列表</a></li>
        <li nz-menu-item><a [routerLink]="['/article/create']">新增</a></li>
      </ul>
    </li>
    <li nz-menu-item><a [routerLink]="['/tag']">标签管理</a></li>
    <li nz-menu-item><a [routerLink]="['/action']" >action管理</a></li>
    <li nz-submenu>
      <span title>用户管理</span>
      <ul>
        <li nz-menu-item>列表</li>
        <li nz-menu-item>新增</li>  
      </ul>
    </li>
    <li nz-submenu>
      <span title>角色管理</span>
      <ul>
        <li nz-menu-item>列表</li>
        <li nz-menu-item>新增</li>
      </ul>
    </li>
    <li nz-submenu>
      <span title>权限管理</span>
      <ul>
        <li nz-menu-item>列表</li>
        <li nz-menu-item>新增</li>
      </ul>
    </li>
    <li nz-submenu>
      <span title>多媒体管理</span>
      <ul>
        <li nz-menu-item>图片</li>
        <!-- <li nz-menu-item>视频</li> -->
      </ul>
    </li>
  </ul>
</nav>