<h2 style="margin-bottom: 0; padding: 1rem;">用户列表</h2>
<button style="margin: 0 1rem 1rem 1rem;" nz-button (click)="addUser()" class="editable-add-btn">Add</button>
<nz-table
#userTable
nzShowSizeChanger
nzBordered
[nzData]="userPage.users"
[nzLoading]="loading"
[nzTotal] = "userPage.total"
[(nzPageIndex)]="pageIndex"
[(nzPageSize)]="pageSize"
(nzPageIndexChange)="searchData()"
(nzPageSizeChange)="searchData(true)">
  <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr>
      <th nzShowSort nzSortKey="name">name</th>
      <th>email</th>
      <th>mobile</th>
      <th>password</th>
      <th>create date</th>
      <th>update date</th>
      <th>action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of userTable.data">
      <td>
        <div class="editable-cell">
          <div class="editable-cell-text-wrapper">
            <ng-container *ngIf="!usersCache[data.id].edit">
              {{data.name}}
            </ng-container>
            <ng-container *ngIf="usersCache[data.id].edit">
              <input type="text" nz-input [(ngModel)]="usersCache[data.id].user.name">
            </ng-container>
          </div>
        </div>
      </td>
      <td>{{data.email}}</td>
      <td>{{data.mobile}}</td>
      <td>{{data.password}}</td>
      <td>{{data.created_at}}</td>
      <td>{{data.updated_at}}</td>
      <td>
        <div class="editable-row-operations">
          <ng-container *ngIf="!usersCache[data.id].edit">
            <a (click)="edit(data.id)">Edit</a>
          </ng-container>          
          <ng-container *ngIf="usersCache[data.id].edit">
            <a (click)="save(data.id)">Save</a>
            <nz-popconfirm [nzTitle]="'Sure to cancel?'" (nzOnConfirm)="cancel(data.id)">
              <a nz-popconfirm>Cancel</a>
            </nz-popconfirm>
          </ng-container>
          <ng-container>
            <nz-popconfirm [nzTitle]="'Sure to delete?'" (nzOnConfirm)="delete(data.id)">
              <a nz-popconfirm>Delete</a>
            </nz-popconfirm>
          </ng-container>
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>