<div style="display: flex; justify-content: center; width: 100%; height: 100%; align-items: center;" nz-row>
  <div nz-col nzSpan="6">
    <form nz-form
    [formGroup]="loginForm"
    [nzLayout]="'horizontal'"
    (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-control>
            <nz-input-group nzPrefixIcon="anticon anticon-mobile">
              <input name="phone" formControlName="phone" nz-input placeholder="phone"/>
            </nz-input-group>
            <nz-form-explain *ngIf="loginForm.get('phone').dirty && loginForm.get('phone').errors">Please input your phone!</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        
        <nz-form-item>
          <nz-form-control>
            <nz-input-group nzPrefixIcon="anticon anticon-lock">
              <input name="password" formControlName="password" type="password" nz-input placeholder="password"/>
            </nz-input-group>
            <nz-form-explain *ngIf="loginForm.get('password').dirty && loginForm.get('password').errors">Please input your password!</nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-control>
              {{ errorMsg }}
            </nz-form-control>
          </nz-form-item>

        <nz-form-item>
          <nz-form-control nz-col>
            <button nz-button nzType="primary">Log in</button>
          </nz-form-control>
        </nz-form-item>
      </form>
  </div>
</div>